.go-learning {
  .learning-title {
    margin-top: 45px;
    margin-bottom: 62px;
  }
  .logo {
    height: 250px;
    border-radius: 20px;
    background-color: $gray-100 ;
    margin-bottom: 48px;
  }
  .btn-action {
    // height: 250px;
    .btn-go-learning {
      width: 240px;
      background-color: $blue-primary;
      border-radius: 26.5px;
      cursor: pointer;
      padding-top: 12px;
      padding-bottom: 12px;
      margin-top: 19px;
    }
  }
  .classin-open {
    display: none;
    position: relative;
    z-index: 1080;
    padding: 20px 28px 47px 28px;
    background: white;
    border-radius: 20px;
    .open-btn {
      background: $blue-primary;
      padding-top: 13px;
      padding-bottom: 12px;
      border-radius: 26.5px;
      font-size: $font-20;
      font-weight: $font-weight-600;
      color: white;
      cursor: pointer;
    }
  }
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.50); /* Màu nền mờ */
    opacity: 0.5;
    pointer-events: none; /* Không ảnh hưởng tới sự tương tác chuột */
    transition: opacity 0.3s ease; /* Hiệu ứng mờ */
    z-index: 1050; /* Giữ lớp overlay trên modal (z-index của modal thường là 1040) */
  }
}


