.news {
  .header-banner {
    height: 490px;
    padding-top: 380px;
    background-image: url("/images/imgs/other/news-header.png");
    background-size: cover;
    background-repeat: no-repeat;

  }

  .preview {
    padding-top: 67px;

    .short-content {
      padding-top: 29px;

      .title {
        display: block;
      }

      .author {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .see-detail-btn {
        background: $blue-primary;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 38px;
        width: 135px;
        border-radius: 1000px;
        cursor: pointer;
        margin-top: 26px;
        &:hover {
          background: $yellow-500;
          color: $white;
        }
      }
    }
  }

  .ask-form {
    width: 100%;
    height: 152px;
    background: $yellow-400;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .other-news {
    padding-top: 44px;
    .short-content {
      .title {
        display: block;
      }

      .see-detail-btn {
        background: $blue-primary;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 38px;
        width: 135px;
        border-radius: 1000px;
        cursor: pointer;
        margin-top: 17px;
      }
    }
    .pagination {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 64px;
    }

    .news-list {
      .news-item {
        margin-bottom: 43px;
        .zoom {
          transition: transform .5s ease;
          &:hover {
            scale: 1.2;
          }
        }
        .see-detail-btn {
          background: $blue-primary;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 38px;
          width: 120px;
          border-radius: 1000px;
          cursor: pointer;
          margin-top: 17px;
          &:hover {
            background: $yellow-500;
            color: $white;
          }
        }
      }
    }

    .pages {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 100%;
    }

    .page-number {
      cursor: pointer;
      font-size: $font-18;
      font-weight: $font-weight-400;
      background-color: $blue-primary;
      color: $white;
      width: 50px;

      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      margin-right: 20px;
    }

    .page-number:last-child {
      margin-right: 0;
    }

    .active {
      height: 50px;
      width: 50px;
      background-color: $yellow-500;
      color: white;
    }

    button {
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;


      &:disabled {
        cursor: not-allowed;
      }
    }

    #prevPage {
      margin-right: 27px;
    }

    #nextPage {
      margin-left: 27px;
    }

    .arrow {
      font-size: 1.2em;
      background: white;
    }

    .nav-text {
      font-size: 0.7em;
      letter-spacing: 0.3em;
    }
  }


}

@media (max-width: 576px) {
  .news {
    .header-banner {
      height: 245px;
      padding-top: 150px;
      background-position: center;

    }
    .right-item {
      margin-top: 16px;
    }
  }

}