.news-detail {
  padding-top: 44px;
  padding-bottom: 74px;
  
  .left-block {
    .title {
      padding-top: 19px;
      padding-bottom: 24px;
    }
    .social-list {
      width: 90%;
    }
    .line {
      margin-top: 9px;
    }
  }
  
  .right-block {
    .featured-article {
      width: 100%;
      border-radius: 10px;
      background: $blue-primary;
      padding-top: 12px;
      padding-bottom: 12px;
      margin-bottom: 42px;
      text-align: center;
    }
    .banner-right {
      padding: 28px 14px 0 14px;
      background: $blue-primary;
      border-radius: 10px;
      .form-group {
        margin-bottom: 21px;
      }
      .form-rounded {
        border-radius: 1000px;
        border: none;
        font-size: $font-18;
        font-weight: $font-weight-300;
        height: 58px;
        padding-left: 28px;
        &::placeholder {
          color: black;
          font-weight: $font-weight-300;
          font-size: $font-18;
        }
      }
      .custom-button {
        border-radius: 1000px;
        background: $yellow-400;
        padding: 16px 0;
        width: 235px;
      }
      .select-cus {
        padding: 16px 0 16px 30px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: white;
        border: 1px solid $gray-80;
  
      }
  
      .custom-icon {
        position: absolute;
        top: 50%;
        right: 8%;
        transform: translateY(-50%);
        pointer-events: none;
      }
    }
  }

  .news-list {
    .title {
      padding-top: 58px;
      padding-bottom: 43px;
    }
    .news-item {
      margin-bottom: 43px;
      .see-detail-btn {
        background: $blue-primary;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 38px;
        width: 120px;
        border-radius: 1000px;
        cursor: pointer;
        margin-top: 17px;
      }
    }
   
  }
}

@media (max-width: 576px) {
  .news-detail {
    .right-item {
      margin-top: 16px;
    }
    .social-list {
      align-items: start;
    }
  }

}