.payment-method {
  margin-bottom: 59px;
  .payment-title {
    padding-top: 82px;
    padding-bottom: 48px;
  }
  .cod-method {
    .cod-head {
      display: block;
      margin-bottom: 23px;
    }
    .cod-title {
      margin-bottom: 9px;
    }
  }
  .banking-block {
    .banking-title {
      margin-bottom: 23px;
    }
    p {
      margin-bottom: 29px;
    }
  }
  .banking-info {
    background: $blue-110;
    width: 100%;
    .qr-block {
      .description  {
        width: 167px;
      }
    }
    .info-block {
      p{
        font-size: $font-18;
        font-weight: $font-weight-400;
      }
    }
  }
  .text-noitice-1 {
    margin-top: 28px;
    margin-bottom: 7px;
    font-size: $font-18;
    font-weight: $font-weight-600;
  }
  .text-noitice-2 {
    margin-top: 23px;
    margin-bottom: 9px;
    font-size: $font-18;
    font-weight: $font-weight-600;
  }
  .vnpay-block {
    .vnpay-title {
      margin-bottom: 9px;
    }
  }
}

@media (max-width: 576px) {
  .payment-method {
    .banking-info {
      .qr-block {
        .description {
          width: 100%;
          margin-bottom: 16px;
        }
      }
    }
  }

}