.product-native {
  background-color: $white;

  .title-native {
    margin-bottom: 19px;
  }

  .des-native {
    margin-bottom: 23px !important;
  }

  .native-banner {
    padding-top: 188px;
    // background-color: $blue-primary;
    background: linear-gradient(0deg, #C2F3FF 0%, #C2F3FF 100%), lightgray 50% / cover no-repeat;
  }

  .div-register {
    border-radius: 15px;
  }

  .native-register {
    margin-top: 78px;
    margin-bottom: 78px;
  }

  .des-register-top {
    margin-bottom: 18px;
  }

  .title-register-top {
    white-space: nowrap;
  }

  .img-register {
    bottom: 0;
    padding: 50px 50px 0 55px;

    img {
      height: 497px;
    }
  }

  .div-form-register {
    padding: 14px 114px 37px 0;
  }

  .title-skill {
    margin-bottom: 19px !important;
  }

  .des-skill {
    margin-bottom: 37px !important;
    line-height: 28px;
  }

  .video_youtube {
    width: 60%;
    height: 26rem;
  }

  .native-result {
    margin-top: 101px;

    .list-item-result {
      ul {
        padding-left: 20px;
      }
    }
  }

  li::marker {
    color: $yellow-400;
  }

  .list-item-result {
    li {
      font-weight: 500;
      line-height: 50px;
    }
  }

  .btn-register {
    font-size: $font-20;
    font-weight: 600;
    padding: 15px 41px;
  }

  .native-commit {
    margin-top: 127px;
  }

  .item-card-commit {
    margin-top: 10px;
    padding: 0 23px;
  }

  .content-commit {
    max-width: 524px;
  }

  .title-commit {
    text-align: center;
    margin-bottom: 30px;

    p {
      padding: 0 15%;
    }
  }

  .btn-commit {
    margin-top: 44px;
  }

  .native-teams {
    padding-top: 68px;
    padding-bottom: 40px;
  }

  .title-native-teams {
    text-align: center;
    margin-bottom: 63px;

    p {
      padding: 0 21%;
    }
  }

  .carousel-control-prev {
    left: -150px;

    .carousel-control-prev-icon {
      background-image: url("~/images/imgs/product/prev.svg");
      width: 53px;
      height: 53px;
    }
  }

  .carousel-control-next {
    right: -150px;

    .carousel-control-next-icon {
      background-image: url("~/images/imgs/product/next.svg");
      width: 53px;
      height: 53px;
    }
  }

  .carousel-indicators {
    bottom: -50px;

    .active {
      background-color: $blue-700 !important;
    }
  }

  .carousel-indicators li {
    background-color: #E6E4F7;
  }

  .native-postshare {
    margin-top: 93px;

    .title-post {
      margin-bottom: 46px;
    }

    .btn-resize {
      font-size: $font-18;
    }
  }

  .card-img {
    border-radius: 20px !important;
  }

  .native-verify {
    margin-top: 53px;

    .title-verify {
      margin-bottom: 31px;
    }

    .des-video {
      margin-top: 13px;
    }

    .slide-social {
      margin-top: 73px;
    }

    .chicken-content {
      margin-top: 89px;
    }

    .btn-resize {
      font-size: $font-18;
    }

    .btn-chicken-div {
      margin-top: 42px;
    }

    .register-bottom {
      margin-top: 54px;
      margin-bottom: 107px;
    }
  }

  .item-verify {
    padding-left: 40px;
    padding-right: 40px;
  }

  .content-chicken-txt {
    padding-top: 70px;
  }

  .content-chicken-description {
    padding-right: 60px;
  }

  .about-register-content {
    border-radius: 15px;
  }

  .about-register-content-1 {
    padding-left: 21px;
    padding-top: 65px;
    position: absolute;
    bottom: 0;
  }

  .about-register-content-2 {
    padding: 33px 74px 38px 46px;
  }

  .img-card-slide {
    border-radius: 20px;
    width: 285px;
    height: 365px;
    padding: 32px 33px 0 30px;

    &-cayman {
      padding: 14px 7px 0 7px;
      border-radius: 20px;
      width: 285px;
      height: 365px;
    }
  }

  .video-verify {
    position: absolute;
    top: 28px;
    left: 14px;
    max-width: 453px;
    max-height: 337px;
    width: 100%;
    height: 100%;
  }
}

.marquee {
  box-sizing: border-box;
  padding: 0 15px;
  color: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.marquee-content {
  display: flex;
  animation: marquee 60s linear infinite running;

  &:hover {
    animation-play-state: paused;
  }
}

.marquee-tag {
  margin: 0 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;

  img {
    filter: grayscale(100%);
  }

  &:hover {
    transform: scale(1.1);
    cursor: pointer;

    img {
      filter: none;
    }
  }
}

@-moz-keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translate(-50%);
  }
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translate(-50%);
  }
}

@-o-keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translate(-50%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translate(-50%);
  }
}

.more-btn {
  background-color: $yellow-400;
  border-color: $yellow-400;
  border-radius: 100px;
  padding: 15px 41px;
  font-weight: $font-weight-600;
  font-size: $font-20;
}

.input-customer {
  border-radius: 31px;
  padding: 19px 30px;
  font-size: $font-18;
  font-weight: 300;
  height: 62px;
  border: none;
}

.play-button {
  width: 115px;
  height: 111px;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;
  z-index: 1;
  // background-color: transparent;
  /* youtube's actual play button svg */
  background-image: url('~/images/icons/product/icon_play.svg');
  filter: grayscale(100%);
  transition: filter 0.1s cubic-bezier(0, 0, 0.2, 1);
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &:hover {
    filter: none;
  }
}

.play-button-post {
  width: 86px;
  height: 86px;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;
  z-index: 1;
  // background-color: transparent;
  /* youtube's actual play button svg */
  background-image: url('~/images/icons/product/icon-play-post.svg');
  filter: grayscale(100%);
  transition: filter 0.1s cubic-bezier(0, 0, 0.2, 1);
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &:hover {
    filter: none;
  }
}

.btn-primary {

  &:hover,
  &:focus {
    background-color: $yellow-400;
    border-color: $yellow-400;
  }
}

//product AI
.product-ai {
  background-color: $white;

  .ai-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("~/images/imgs/product/ai-banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 801px;

    .content-banner-ai {
      transform: translate(10%, 112%);

      .title-banner {
        line-height: 60px;
        margin-bottom: 24px !important;
      }
    }
  }

  .about-register-content {
    padding: 7px 180px 7px 50px;
    border-radius: 15px;
  }

  .ai-form-register {
    margin-top: 86px;
  }

  .btn-register {
    font-size: $font-18;
    font-weight: 600;
    padding: 15px 57px;
  }

  .title-form-register {
    padding-top: 38px;
  }

  .ai-roadmap {
    margin-top: 75px;

    .div-contentroadmap {
      margin-top: 128px;
    }
  }

  .item-txt-right {
    padding-left: 40px;
    margin-top: 80px;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 23px;
    width: 285px;
  }

  .item-img-right {
    padding-right: 50px;
  }

  .item-txt-left {
    padding-right: 40px;
    margin-top: 149px;
  }

  .item-img-left {
    padding-left: 40px;
  }


  .ai-ispeak {
    background-image: url("~/images/imgs/product/banner-speak.png");
    margin-top: 64px;
    padding: 77px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .video-verify {
      position: absolute;
      top: 37px;
      left: 20px;
      max-width: 595px;
      max-height: 443px;
      width: 100%;
      height: 100%;
    }

    li {
      list-style: none;
      margin-bottom: 25px;
    }

    .list-item-result {
      margin-top: 54px;

      .dot {
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $gray-600;
      }
    }

    .video-ispeak {
      padding-right: 60px;
    }
  }

  .ai-study-online {
    margin-top: 75px;

    .title-study-online {
      margin-bottom: 17px;
    }

    .video-study-online {
      margin-top: 46px;
    }
  }

  .btn-study-online {
    font-size: $font-18;
    font-weight: 600;
    padding: 17px 49px;
  }

  .ai-postshare {
    margin-top: 95px;
  }

  .play-button-ai {
    width: 115px;
    height: 111px;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;
    z-index: 1;
    // background-color: transparent;
    /* youtube's actual play button svg */
    background-image: url('~/images/icons/product/icon-play-ai.svg');
    filter: grayscale(100%);
    transition: filter 0.1s cubic-bezier(0, 0, 0.2, 1);
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &:hover {
      filter: none;
    }
  }

  .thumb-video-ai {
    border-radius: 24px;
  }

  .card-img {
    border-radius: 24px;
  }

  .item-verify {
    padding-left: 40px;
    padding-right: 40px;
  }

  .video-verify {
    position: absolute;
    top: 28px;
    left: 14px;
    max-width: 468px;
    max-height: 337px;
    width: 100%;
    height: 100%;
  }

  .content-chicken-txt {
    padding-top: 135px;
  }

  .ai-verify {
    margin-top: 89px;

    .des-video-verify {
      margin-top: 16px;
    }

    .slide-social {
      margin-top: 47px;
    }

    .div-chicken {
      margin-top: 102px;
    }

    .div-register-bottom {
      margin-top: 120px;
      margin-bottom: 91px;
    }

    .btn-register-bottom {
      padding: 17px 57px;
      font-size: $font-18;
    }
  }
}

.product-ielts {
  background-color: $white;

  .btn-register {
    font-size: $font-18;
    font-weight: 600;
    padding: 17px 57px;
  }

  .ielts-banner {
    background-image: url("~/images/imgs/product/ielts-banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;

    .content-banner-ai {
      transform: translate(10%, 75%);

      .title-banner {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        line-height: 60px;
        margin-bottom: 24px !important;
      }

      .des-banner {
        max-width: 602px;
        text-align: justify;
      }
    }
  }

  .ielts-register {
    margin-top: 86px;

    .div-register {
      border-radius: 15px;
    }

    .img-register {
      position: absolute;
      bottom: 0;
      padding: 8px 0 0 29px;
    }

    .div-form-register {
      padding: 38px 114px 37px 0;

      .title-register {
        white-space: nowrap;
      }

      .div-button-form {
        margin-top: 29px;
      }
    }

  }

  .ielts-chance {
    margin-top: 76px;

    .title-content-chance {
      padding-left: 16px;
      border-left: 4px solid $blue-600;
      line-height: normal;
    }

    .img-chance {
      padding-left: 15px;
    }

    .hr-chance {
      margin: 16px 0;
      margin-left: 9px;
      width: 35%;
    }
  }

  .ielts-teacher {
    margin-top: 77px;

    .title-teacher {
      margin-top: 29px;
    }

    .item-teacher {
      margin-bottom: 57px;
      border-radius: 45px;
    }

    .avt-teacher {
      padding-top: 18px;
      padding-bottom: 32px;
    }

    .list-item-result {
      padding-right: 64px;
      padding-top: 46px;
      padding-bottom: 46px;

      li {
        line-height: 50px;
      }
    }

    li::marker {
      color: $yellow-400;
      font-size: 25px;
    }
  }

  .ielts-procedure {
    background-image: url("~/images/imgs/product/bg-procedure.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 79px;
    padding-bottom: 94px;
    margin-bottom: 70px;

    .item-content-procedure {
      margin-top: 29px;
    }

    .item-procedure {
      background-color: transparent;
      max-width: 305px;

      img {
        width: 186px;
        height: 186px;
      }

    }

    .content-procedure {
      margin-top: 98px;
    }
  }

  .ielts-trip {
    .btn-trip-register {
      margin-bottom: 48px;
    }

    .title-trip {
      margin-bottom: 13px !important;
    }

    .img-trip-content {
      margin-top: 22px;
    }

    .title-item-trip-1 {
      top: 5%;
      left: 41%;
    }

    .title-item-trip-2 {
      top: 38%;
      left: 44%;
    }

    .title-item-trip-3 {
      top: 70%;
      left: 48%;
    }

    .des-item-trip-1 {
      top: 13%;
      left: 55%;
    }

    .des-item-trip-2 {
      top: 46%;
      left: 51%;
    }

    .des-item-trip-3 {
      top: 78%;
      left: 53%;
    }
  }

  .ielts-feedback1 {
    margin-top: 87px;
    padding-bottom: 35px;

    .title-feedback1 {
      margin-bottom: 23px;
    }

    .list-star {
      margin-top: 13px;
      margin-bottom: 18px;
    }

    .card-img {
      max-width: 214px;
      max-height: 214px;
    }

    .item-slider-feedback {
      padding: 0 40px;
    }

    .carousel-indicators {
      bottom: -50px;

      li {
        width: 13px !important;
        height: 13px !important;
        border-radius: 100%;
        background-color: #E6E4F7 !important;
      }

      .active {
        width: 74px !important;
        border-radius: 50rem !important;
        background-color: #75B45A !important;
        border: none !important;
      }
    }
  }

  .ielts-banner-mid {
    margin-top: 79px;
    background-image: url("~/images/imgs/product/bg-banner-mid-ie.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .list-item-result {
      padding-top: 10px;

      li {
        line-height: 50px;
      }
    }

    li::marker {
      color: $yellow-400;
      font-size: 25px;
    }

    .content-banner-mid {
      padding-top: 75px;
      padding-bottom: 80px;

    }

    .img-content-mid {
      position: relative;
      height: 100%;

      img {
        position: absolute;
        bottom: 0;
      }
    }
  }

  .ielts-achievements {
    margin-top: 58px;
    padding-bottom: 100px;

    .quote-icon {
      width: 100px;
    }

    .quote-end {
      img {
        display: block;
        margin-top: 45px;
      }
    }

    .quote-content {
      gap: 21px;
    }

    .txt-quote {
      padding-top: 20px;
    }

    .student-info {
      margin-top: 13px;
    }

    .carousel-indicators {
      bottom: -100px;

      li {
        width: 13px !important;
        height: 13px !important;
        border-radius: 100%;
        background-color: $yellow-500 !important;
      }

      .active {
        width: 74px !important;
        border-radius: 50rem !important;
        background-color: #005488 !important;
        border: none !important;
      }
    }
  }

  .ielts-award {
    margin-top: 104px;
    padding-bottom: 20px;

    .wizard .nav-tabs>li.active>a i {
      color: $blue-920;
      font-weight: 600;
      font-size: $font-26;
    }
  }

  .ielts-verify {
    padding-top: 111px;

    .title-verify {
      margin-bottom: 31px;
    }

    .video-verify {
      position: absolute;
      top: 28px;
      left: 14px;
      max-width: 453px;
      max-height: 337px;
      width: 100%;
      height: 100%;
    }

    .item-verify {
      padding-left: 40px;
      padding-right: 40px;
    }

    .des-video {
      margin-top: 13px;
    }

    .slide-social {
      margin-top: 73px;
    }

    .chicken-div-content {
      margin-top: 146px;
    }

    .content-chicken-txt {
      padding-top: 85px;
    }

    .btn-resize {
      padding: 8px 44px;
      font-size: $font-18;
      font-weight: $font-weight-500;
    }

    .btn-chicken-verify {
      margin-top: 28px;
    }

    .title-chicken {
      margin-bottom: 23px !important;
    }

    .des-chicken {
      margin-bottom: 24px !important;
    }
  }

  .form-register-bottom {
    margin-top: 64px;
    margin-bottom: 67px;
  }
}

.product-pro {
  background-color: $white;

  .btn-register {
    font-size: $font-18;
    font-weight: 700;
    padding: 17px 42px;
  }

  .pro-header-banner {
    background-color: $violet;
    height: 711px;

    .center {
      padding: 70px 0;
    }

    .title-banner {
      margin: auto 0;
    }

    .img-banner {
      position: absolute;
      bottom: 0;

      img {
        height: 623px;
      }
    }

    .txt-banner-pro {
      margin-bottom: 14px !important;
    }

    .des-banber-pro1 {
      margin-bottom: 21px !important;
    }
  }

  .pro-register {
    margin-top: 60px;
    margin-bottom: 45px;

    .div-register {
      border-radius: 15px;
    }

    .img-register {
      position: relative;
      padding-left: 56px;
      height: 100%;

      img {
        position: absolute;
        bottom: 0;
      }
    }

    .div-form-register {
      padding-top: 47px;
      padding-right: 70px;
      padding-left: 70px;
      padding-bottom: 44px;

      .form-group {
        margin-bottom: 24px;
      }
    }
  }

  .pro-question {
    margin-bottom: 70px;

    .question-1 {
      top: 18%;
      right: 8%;
    }

    .question-2 {
      top: 44%;
      right: 2%;
    }

    .question-3 {
      top: 64%;
      right: 7%;
    }

    .question-4 {
      top: 87%;
      right: 7%;
    }
  }

  .pro-about {
    padding-top: 50px;

    .item-about {
      margin-top: 32px;
      max-width: 616px;
      border-left: 4px solid $white;
      padding-left: 24px;
    }

    .content-about {
      padding-bottom: 58px;
    }

    .img-about {
      height: 100%;

      img {
        position: absolute;
        bottom: 0;
      }
    }
  }

  .pro-class {
    margin-top: 70px;
    padding-bottom: 35px;

    .content-class {
      margin-top: 70px;
    }

    .video-class {
      margin: 0 auto;
      padding: 0 10px;

      img {
        display: block;
        margin: 0 auto;
      }
    }

    .list-item-result {
      padding-left: 60px;
    }

    li::marker {
      color: $yellow-400;
      font-size: 25px;
    }
  }

  .pro-procedure {
    margin-top: 67px;

    .menu-tabs {
      margin-top: 38px;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
      color: $white;
      background-color: $violet-100 !important;
      font-weight: 700 !important;
      border: none;
    }

    .class-btn-e {
      font-size: $font-24 !important;
      font-weight: 500 !important;
      padding: 28px 77px !important;
      border-radius: 3000px;
      border: 1px solid $yellow-500;
    }

    .class-btn-p {
      font-size: $font-24 !important;
      font-weight: 500 !important;
      padding: 28px !important;
      border-radius: 3000px;
      border: 1px solid $yellow-500;
    }

    .class-btn-a {
      font-size: $font-24 !important;
      font-weight: 500 !important;
      padding: 28px 77px !important;
      border-radius: 3000px;
      border: 1px solid $yellow-500;
    }

    .class-btn-s {
      font-size: $font-24 !important;
      font-weight: 500 !important;
      padding: 28px 62px !important;
      border-radius: 3000px;
      border: 1px solid $yellow-500;
    }

    .pro-hr {
      border-top-color: $violet-200;
      margin-top: 39px;
      margin-bottom: 18px;
    }

    .list-item-result {
      padding-left: 20px;

      li {
        line-height: 45px;
      }
    }

    li::marker {
      color: $yellow-400;
      font-size: 25px;
    }

    .tab-content {
      margin-top: 51px;
    }

  }

  .pro-teacher {
    padding-top: 40px;
    padding-bottom: 60px;

    .slider-native-teams {
      margin-top: 48px;
    }

    .img-card-slide {
      border-radius: 20px;
      width: 285px;
      height: 343px;
      padding-top: 26px;

      &-cayman {
        border-radius: 20px;
        width: 285px;
        height: 365px;
      }
    }

    .dot {
      margin-top: 10px;
      display: block;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: $purple;
    }

    .carousel-indicators {
      bottom: -50px;

      li {
        width: 13px !important;
        height: 13px !important;
        border-radius: 100%;
        background-color: #E6E4F7 !important;
      }

      .active {
        width: 74px !important;
        border-radius: 50rem !important;
        background-color: $purple !important;
        border: none !important;
      }
    }
  }

  .pro-postshare {
    .title-postshare {
      margin-bottom: 52px;
    }

    img {
      border-radius: 16px;
    }

    .list-star {
      margin-top: 13px;
      margin-bottom: 18px;
    }
  }

  .pro-slide-post {
    margin-top: 48px;
    padding-bottom: 40px;

    .list-star {
      margin-top: 13px;
      margin-bottom: 18px;
    }

    .img-post-slide {
      width: 214px;
      height: 214px;
      display: block;
      margin: 0 auto;
    }

    .carousel-indicators {
      bottom: -50px;

      li {
        width: 13px !important;
        height: 13px !important;
        border-radius: 100%;
        background-color: #E6E4F7 !important;
      }

      .active {
        width: 74px !important;
        border-radius: 50rem !important;
        background-color: $purple !important;
        border: none !important;
      }
    }
  }

  .pro-award {
    margin-top: 66px;
    padding-bottom: 26px;

    .title-award {
      margin-bottom: 67px;
    }

    .wizard .nav-tabs>li.active>a i {
      font-weight: 600;
    }
  }

  .pro-verify {
    margin-top: 67px;
    .title-verify {
      margin-bottom: 69px;
    }
    .des-video-verify {
      margin-top: 43px;
      margin-bottom: 47px;
    }
    .item-verify {
      padding: 0 20px;
    }
    .chicken-div-verify {
      margin-top: 129px;
    }
    .content-chicken-txt {
      padding-top: 105px;
    }
  }
  .bottom-register {
    margin-top: 110px;
    margin-bottom: 110px;
  }
}