.product-extra {
  .extra-header-banner {
    background-color: $yellow-900;

    .content {
      max-width: 1685px;
    }

    .center {
      padding: 70px 0;
    }

    .title-banner {
      margin: auto 0;
    }

    .img-banner {
      padding-top: 88px;
    }
  }

  .extra-option-product {
    margin-top: 83px;

    .nav-pills {
      justify-content: center;
      gap: 30px;
    }

    .class-btn-math {
      padding: 28px 80px;
      font-size: $font-22;
      font-weight: 700;
      background-color: $gray-700;
      border-radius: 100px;
      color: $white;
    }

    .class-btn-vietnam {
      font-size: $font-22;
      padding: 28px 51px;
      font-weight: 700;
      background-color: $gray-700;
      border-radius: 100px;
      color: $white;
    }

    .class-btn-learning {
      font-size: $font-22;
      padding: 28px;
      font-weight: 700;
      background-color: $gray-700;
      border-radius: 100px;
      color: $white;
    }
  }

  .extra-tab-content {
    .math-study {
      &-title {
        max-width: 729px;
        margin: 0 auto;

        .p-630 {
          max-width: 630px;
          margin: 0 auto;
        }
      }

      .icon-hand {
        width: 85px;
        height: 82px;
      }
    }

    .math-reason {
      background-color: $blue-930;
      padding-top: 43px;

      .list-item-result {
        padding-left: 20px;
      }

      li {
        line-height: 50px;
      }

      li::marker {
        color: $yellow-400;
        font-size: 20px;
      }
    }

    .math-rme {
      margin-top: 68px;
      margin-bottom: 76px;
    }

    .math-slide-teacher {
      padding-bottom: 76px;

      .img-card-slide {
        border-radius: 20px;
        width: 285px;
        height: 339px;
        padding-top: 13px;
        padding-left: 10px;
        padding-right: 10px;

        &-cayman {
          border-radius: 20px;
          width: 285px;
          height: 339px;
          padding-left: 45px;
          padding-right: 45px;
          padding-top: 13px;
        }
      }

      .dot {
        margin-top: 10px;
        display: block;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: $blue-primary;
      }

      .carousel-control-prev {
        left: -150px;

        .carousel-control-prev-icon {
          background-image: url("~/images/imgs/product/math-prev.svg");
          width: 53px;
          height: 53px;
        }
      }

      .carousel-control-next {
        right: -150px;

        .carousel-control-next-icon {
          background-image: url("~/images/imgs/product/math-next.svg");
          width: 53px;
          height: 53px;
        }
      }

      .carousel-indicators {
        bottom: -50px;
      }

      .carousel-indicators li {
        background-color: #E6E4F7;
      }
    }

    .math-post {
      padding-bottom: 60px;

      .img-post-slide {
        width: 214px;
        height: 214px;
        display: block;
        margin: 0 auto;
      }

      .carousel-indicators {
        bottom: -50px;

        li {
          width: 13px !important;
          height: 13px !important;
          border-radius: 100%;
          background-color: #E6E4F7 !important;
        }

        .active {
          width: 74px !important;
          border-radius: 50rem !important;
          background-color: $blue-primary !important;
          border: none !important;
        }
      }
    }

    .math-family {
      margin-top: 68px;

      .content-chicken-txt {
        padding-left: 50px;
        padding-top: 70px;
      }
    }

    .math-register {
      margin-top: 68px;

      .div-register {
        border-radius: 15px;
      }

      .img-register {
        position: relative;
        padding-left: 56px;
        height: 100%;

        img {
          position: absolute;
          bottom: 0;
        }
      }

      .div-form-register {
        padding: 38px 99px 37px 48px;
      }

      .btn-register {
        font-size: $font-20;
        font-weight: 600;
        padding: 15px 41px;
      }

      .form-group {
        margin-bottom: 24px;
      }
    }

    .math-award {
      margin-top: 40px;
      padding-bottom: 67px;

      .wizard .nav-tabs>li.active>a i {
        font-weight: 600;
      }
    }

    .math-verify {
      margin-top: 38px;
      .item-verify {
        padding: 0 20px;
      }
    }

    .vietnamese-study {
      margin-top: 70px;
      padding-top: 41px;
      background: $blue-350;

      .middle-text {
        padding-top: 33px;
        padding-bottom: 29px;
      }

      .btn-register {
        padding: 7px 44px 8px 44px;
        background: $yellow-400;
        border-radius: 100px;
        cursor: pointer;
      }

      .banner {
        max-width: 1556px;
      }

    }

    .vietnamese-more-info {
      max-width: 1190px;
      padding-top: 108px;
      margin-bottom: 41px;
      .info {
        margin-top: 14px;
        .title {
          margin-bottom: 28px;
        }

        .list-group {
          margin-bottom: 28px;

          li {
            color: $yellow-350;

            p {
              color: black;
            }
          }
        }

        .btn-register {
          padding: 7px 44px 8px 44px;
          background: $yellow-400;
          border-radius: 100px;
          color: white;
          cursor: pointer;
        }
      }

    }

    .vietnamese-teachers {
      margin-bottom: 66px;
      .title {
        margin-bottom: 45px;
      }
      .list-group-2 {
        margin-bottom: 0;
        li {
          color: $blue-primary;
          p {
            color: black;
          }
        }
      }
      .btn-register {
        padding: 7px 44px 8px 44px;
        background: $yellow-400;
        border-radius: 100px;
        color: white;
        cursor: pointer;
      }
    }
    .vietnamese-parrent-review {
      margin-bottom: 62px;
      .title {
        margin-bottom: 100px;
      }
    }

    .vietnamese-ads {
      max-width: 1163px;
      margin-bottom: 62px;
      .content {
        padding-top: 56px;
        .commit {
          line-height: 44px;
          margin-bottom: 22px;
        }
      }
   
      .btn-register {
        padding: 7px 44px 8px 44px;
        background: $yellow-400;
        border-radius: 100px;
        color: white;
        cursor: pointer;
      }
    }

    .vietnamese-middle-banner {
      margin-bottom: 90px;
      .banner {
        padding-top: 47px;
        background: $blue-350;
        border-radius: 15px;

        .form-register {
          padding-right: 85px;
          padding-left: 0;

          .form-group {
            margin-bottom: 24px;
          }

          .form-rounded {
            border-radius: 1000px;
            border: none;
            font-size: $font-18;
            font-weight: $font-weight-300;
            height: 56px;
            padding-left: 16px;
            color: black;

            &::placeholder {
              color: #B0B6B7;
              font-weight: $font-weight-300;
              font-size: $font-18;
            }
          }

          .custom-button {
            border-radius: 1000px;
            background: $yellow-400;
            padding: 16px 0;
            width: 235px;
          }
          .select-cus {
            padding: 14px 0 14px 19px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: white;
            border: 1px solid $gray-80;
            color: #B0B6B7;
          }
      
          .custom-icon {
            position: absolute;
            top: 50%;
            right: 5%;
            transform: translateY(-50%);
            pointer-events: none;
          }
        }
      }
    }

    .learning-pack-banner {
      margin-top: 70px;
      padding-top: 19px;
      background: $blue-450;

      .banner {
        max-width: 1439px;
      }

      .middle-text {
        padding-top: 33px;
        padding-bottom: 29px;
      }

      .btn-register {
        padding: 7px 44px 8px 44px;
        background: $yellow-400;
        border-radius: 100px;
        cursor: pointer;
      }
    }

    .learning-pack-content {
      padding-top: 88px;

      .middle-img {
        width: 66%;
        padding-top: 154px;
        padding-bottom: 115px;

        p {
          margin-bottom: 118px !important;
        }
      }

      .middle-banner {
        background: $blue-primary;
        border-radius: 15px;

        .form-register {
          padding-top: 52px;
          padding-right: 85px;
          padding-left: 0;

          .form-group {
            margin-bottom: 24px;
          }

          .form-rounded {
            border-radius: 1000px;
            border: none;
            font-size: $font-18;
            font-weight: $font-weight-300;
            height: 56px;
            padding-left: 28px;
            color: black;

            &::placeholder {
              color: #B0B6B7;
              font-weight: $font-weight-300;
              font-size: $font-18;
            }
          }

          .custom-button {
            border-radius: 1000px;
            background: $yellow-400;
            padding: 16px 0;
            width: 235px;
          }
        }
      }
    }
  }

  .pro-award {
    margin-top: 40px;
    padding-bottom: 67px;

    .wizard .nav-tabs>li.active>a i {
      font-weight: 600;
    }
  }
}