.recruitment-detail {
  margin-top: 41px;

  .back-link {
    cursor: pointer;
  }

  .header-title {
    .desc-short {
      margin-top: 10px;
      margin-bottom: 26px;

      .label {
        border-radius: 100px;
        background: #F1F1F1;
        padding: 8px 47px;
      }
    }

    .desc-list {
      padding-top: 26px;
      padding-bottom: 18px;
    }

    .desc-salary {
      margin-bottom: 28px;
    }



  }
  .desc-detail {
    padding-top: 57px;
    padding-bottom: 57px;
    .recruitment-form {

      .form-control {
        border: none;
        border-bottom: 1px solid $gray-400;
        border-radius: 0;
      }
  
      .custom-file-upload {
        width: 100%;
  
        display: inline-block;
        padding: 13px 12px;
        cursor: pointer;
        border-radius: 1000px;
        border: 1px dashed $gray-300;
        background: $gray-50;
        text-align: center; 
      }
      .custom-button {
        border-radius: 1000px;
        background: $blue-primary;
        padding: 12px 12px;
      }
  
    }
  }

  .contact {
    padding-top: 45px;
    padding-bottom: 48px;
  }
 
  .other-position {
    padding-top: 46px;
  }
}