.recruitment-detail {
  margin-top: 41px;
  .back-link {
    cursor: pointer;
  }
  .header-title {
    .desc-short{
      margin-bottom: 26px;
      .label {
        border-radius: 100px;
        background: #F1F1F1;
        padding: 8px 47px;
      }
    }
 
  }
}