.recruitment-detail {
  margin-top: 41px;
  line-height: 30px;
  .back-link {
    cursor: pointer;
  }

  .header-title {
    .head {
      margin-bottom: 10px !important;
    }
    .title {
      margin-bottom: 10px !important;

    }
    .desc-short {
      margin-top: 10px;
      margin-bottom: 26px;

      .label {
        border-radius: 100px;
        background: $gray-20;
        padding: 5px 30px;
        margin-left: 30px;
      }
    }

    .desc-list {
      padding-top: 26px;
      padding-bottom: 18px;
    }

    .desc-salary {
      margin-bottom: 28px;
    }



  }

  .desc-detail {
    padding-top: 57px;
    padding-bottom: 57px;
    .socical-share {
      margin-top: 29px;
      margin-bottom: 57px;
    }
    .recruitment-form {

      .form-control {
        border: none;
        border-bottom: 1px solid $gray-400;
        border-radius: 0;
      }
      .form-group {
        input {
          height: 25px;
          padding-left: 0;
          background: none;
        }
        textarea {
          padding-left: 0;
          background: none;
        }
      }

      .custom-file-upload {
        width: 100%;

        display: inline-block;
        padding: 13px 12px;
        cursor: pointer;
        border-radius: 1000px;
        border: 1px dashed $gray-300;
        background: $gray-50;
        text-align: center;
      }

      .custom-button {
        border-radius: 1000px;
        background: $blue-primary;
        padding: 13.5px 12px;
      }

    }
  }


  .other-position {
    padding-top: 46px;

    .position-list-job {
      padding-top: 45px;
      padding-bottom: 73px;

      .position-item {
        padding: 19px 8px 23px 24px;
        border-radius: 10px;
        box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.05);
        margin-bottom: 25px;
        .label {
          border-radius: 20.5px;
          background: $gray-20;
          padding: 4px 17.5px;
          margin-left: 38px;
        }

        .recruitment-btn {
          padding: 8px 23px;
          border-radius: 25.5px;
          border: 1px solid $blue-primary;
          cursor: pointer;
          &:hover {
            background: $yellow-500;
            border: 1px solid $yellow-500;
            color: white;
          }
        }
      }
    }

  }

  .banner-body {
    background-image: url("/images/imgs/homepage/galaxy.png");
    background-size: cover;
    /* Hiển thị ảnh nền sao cho che phủ toàn bộ khu vực */
    background-repeat: no-repeat;
    background-position: center top 36px;
    background-color: $blue-primary;
    padding-top: 47px;
    padding-bottom: 52px;

    .content {
      margin-top: 44px;

      .icon {
        background: $white;
        width: 136px;
        height: 136px;
        border-radius: 100%;
        margin-bottom: 26px;
      }

      .title {
        width: 100%;
        height: 71px;
        margin-bottom: 20px;
      }
    }
  }

  .activity {
    padding-top: 71px;

    .video-container {
      margin-top: 45px;
      margin-bottom: 35px;

      .image-container {
        position: relative;
        text-align: center;
        /* Để căn giữa theo chiều ngang */
      }

      .play-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: filter 0.3s ease;
        cursor: pointer;
      }

      .play-btn:hover {
        filter: brightness(1.5);
        /* Hiệu ứng làm sáng khi hover vào nút play */
      }
    }
  }

  .slide-activity {
    margin-top: 45px;
    margin-bottom: 109px;
    .slick-carousel {
      width: 1230px;
      .slick-prev {
        position: absolute;
        left: -50px;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      .slick-next {
        position: absolute;
        right: -80px;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}



@media (max-width: 576px) {
  .slick-carousel {
    width: 100% !important;
    .slick-prev {
     display: none !important;
    }
    .slick-next {
      display: none !important;

    }
  }
}