.footer {
  padding-top: 85px;
  padding-bottom: 70px;

  ul>li {
    list-style-type: none;
  }
  .hr {
    border-color: $white-100;
    margin-top: 55px;
  }
  .btn-location {
    color: $white;
    background-color: $blue-500;
    padding: 4px 16px;
    font-size: $font-16;
    font-weight: $font-weight-400;
  }
}
