.header-area {
  background-color: $blue-primary;
  padding: 15px 25px 10px 25px;
  .tag-logo {
    top: 0;
    right: -265px;
  }
  .nav-primary {
    padding-left: 84px;
  }
  .nav-custom-content {
    margin-top: 30px;
  }
}