.header-area {
  background-color: $blue-primary;
  padding: 15px 25px 10px 25px;

  .tag-logo {
    top: 0;
    right: -265px;
  }

  .nav-primary {
    padding-left: 100px;
    gap: 40px;
  }

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  padding-top: 5px;
  padding-bottom: 5px;

  .logo-header img {
    height: 40px;
    width: 232px;
  }
}

.sticky+.content {
  padding-top: 60px;
}

.dropdown-menu {
  color: $white;
  background-color: $blue-primary;
}

.dropdown-item {
  color: $white !important;
  font-weight: 500;

  &:hover {
    background-color: $blue-primary;
    color: $yellow-200 !important;
  }
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: $yellow-200 !important;
}

.btn-study {
  padding: 5px 20px;
  color: $white;
  background-color: $yellow-400;

  &:hover,
  &:focus {
    color: $black !important;
    background-color: $blue-primary !important;
  }
}

.btn-logo-add {
  color: $black-100;
  background-color: $yellow-400;

  &:hover,
  &:focus {
    color: $black !important;
    background-color: $blue-primary !important;
  }
}