html {
  background-color: white;
}

// sizing
.edupia-mw-1230 {
  max-width: 1260px !important;
}

.w-45 {
  width: 45%;
}

// Margin
.mb-3-2 {
  margin-bottom: 32px;
}

.mb-4-0 {
  margin-bottom: 40px;
}

.mt-7-2 {
  margin-bottom: 72px;
}

// Padding
.pb-3-2 {
  padding-bottom: 32px;
}

.pt-60 {
  padding-top: 60px;
}

.px-39 {
  padding-left: 39px !important;
  padding-right: 39px !important;
}

// container
.edupia-container-lg {
  max-width: $edupia-width-content !important;
  margin: auto;
}

// Display
.d-inline-grid {
  display: inline-grid;
}

// Text family
.text-font-family-quicksand {
  font-family: $font-family-quicksand;
}

.text-font-family-inter {
  font-family: $font-family-inter;
}

// Text font size
.text-font-size-14 {
  font-size: $font-14 !important;
}

.text-font-size-16 {
  font-size: $font-16;
}

.text-font-size-18 {
  font-size: $font-18;
}

.text-font-size-20 {
  font-size: $font-20;
}

.text-font-size-22 {
  font-size: $font-22;
}

.text-font-size-24 {
  font-size: $font-24;
}

.text-font-size-25 {
  font-size: $font-25;
}

.text-font-size-26 {
  font-size: $font-26;
}

.text-font-size-28 {
  font-size: $font-28;
}

.text-font-size-30 {
  font-size: $font-30;
}

.text-font-size-36 {
  font-size: $font-36;
}

.text-font-size-40 {
  font-size: $font-40;
}

.text-font-size-45 {
  font-size: $font-45;
}

.text-font-size-48 {
  font-size: $font-48;
}

.text-font-size-50 {
  font-size: $font-50;
}

.text-font-size-55 {
  font-size: $font-55;
}

.text-font-size-60 {
  font-size: $font-60;
}

.text-font-size-65 {
  font-size: $font-65;
}

// Text font weight
.text-font-weight-100 {
  font-weight: $font-weight-100;
}

.text-font-weight-200 {
  font-weight: $font-weight-200;
}

.text-font-weight-300 {
  font-weight: $font-weight-300;
}

.text-font-weight-400 {
  font-weight: $font-weight-400;
}

.text-font-weight-500 {
  font-weight: $font-weight-500;
}

.text-font-weight-600 {
  font-weight: $font-weight-600;
}

.text-font-weight-700 {
  font-weight: $font-weight-700;
}

.text-font-weight-800 {
  font-weight: $font-weight-800;
}

.text-font-weight-900 {
  font-weight: $font-weight-900;
}

.text-under-line {
  text-decoration-line: underline;
}
// Line height
.line-height-28 {
  line-height: 28px;

}

.line-height-normal {
  line-height: normal;
}

.line-height-30 {
  line-height: 30px;
}

.line-height-44 {
  line-height: 44px;
}

.line-height-50 {
  line-height: 50px;
}

.line-height-55 {
  line-height: 55px;
}


// Border-radius
.edupia-border-radius-44 {
  border-radius: 44px;
}

//cursor pointer
.cursor-pointer {
  cursor: pointer;
}

// button styles

.btn-discover {
  width: 180px;
  padding: 12px 20px;
  background-color: $orange-500;
  border-radius: 36px;
  cursor: pointer;

  .text {
    color: white;
    text-align: center;

  }
}

//gap
.gap-8 {
  gap: 8px;
}

.gap-25 {
  gap: 25px;
}

//marin-top-90
.marin-top-70 {
  margin-top: 70px;
}

.margin-left-4 {
  margin-left: 4px;
}

//height
.h-300 {
  height: 300px;
}

.h-340 {
  height: 340px;
}

//white-space
.white-space-nowrap {
  white-space: nowrap;
}

//carousel
.carousel-indicators {
  li {
    width: 13px !important;
    height: 13px !important;
    border-radius: 100%;
  }

  .active {
    width: 74px !important;
    border-radius: 50rem !important;
    background-color: $blue-primary !important;
    border: none !important;
  }
}

//nav tabs
.nav-pills .nav-link {
  font-size: $font-18;
  font-weight: $font-weight-700;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: $blue-primary !important;
  border-radius: 100px;
  color: $white;
  font-size: $font-18;
  font-weight: $font-weight-700;
}

//step-by-step
.wizard .nav-tabs {
  position: relative;
  margin-bottom: 0;
  border-bottom-color: transparent;
}

.wizard>div.wizard-inner {
  position: relative;
  margin-bottom: 50px;
  text-align: center;
}

.connecting-line {
  height: 2px;
  background: $blue-primary;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 9px;
  z-index: 1;
}

span.round-tab {
  width: 18px;
  height: 18px;
  line-height: 18px;
  display: inline-block;
  border-radius: 50%;
  background: $black-200;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-weight: 500;
  border: 1px solid $black-200;
}

.wizard li.active span.round-tab {
  background: $yellow-400;
  color: $white;
  border-color: $yellow-400;
}

.wizard .nav-tabs>li.active>a i {
  color: $blue-primary;
}

.wizard .nav-tabs>li {
  width: 20%;
}

.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: red;
  transition: 0.1s ease-in-out;
}



.wizard .nav-tabs>li a {
  width: 30px;
  height: 30px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
  background-color: transparent;
  position: relative;
  top: 0;
}

.wizard .nav-tabs>li a i {
  position: absolute;
  top: 50px;
  font-style: normal;
  white-space: nowrap;
  left: 10px;
  transform: translate(-50%, -50%);
  font-size: $font-26;
  font-weight: 500;
  color: $black;
}

.wizard .nav-tabs>li a:hover {
  background: transparent;
}

.wizard .tab-pane {
  position: relative;
  padding-top: 20px;
}


p {
  margin-bottom: 8px !important;
}

li::marker {
  font-size: 20px;
}