@media (max-width: 480px) {

  //header
  .header-area {
    padding: 10px !important;
  }

  .navbar-toggler {
    padding: 0.25rem 0.25rem !important;
  }

  .nav-primary {
    gap: 0px !important;
  }

  form.form-inline {
    gap: 10px !important;
  }

  .logo-header {
    width: 55% !important;
  }

  .tag-logo {
    right: -52px !important;
  }

  .item-logo {
    font-size: $font-8 !important;
  }

  .home .content-slide-item {
    width: 100%;
  }

  .nav-primary {
    padding-left: 0 !important;
  }

  .item-nav-left {
    display: block;
    width: 100%;
    padding: 10px 0;
  }

  //footer 
  .footer {
    padding-top: 30px;
    padding-bottom: 15px;

    .end-footer {
      flex-direction: column;
    }

    .copy-right {
      order: 2;
    }

    .list-policy {
      order: 1;
      flex-direction: column;
      gap: 0;
    }

    .marin-top-70 {
      margin-top: 40px !important;
    }

    .hr {
      margin-top: 30px !important;
    }
  }

  //home
  .home {
    .banner-content {
      margin-left: 5% !important;
      margin-right: 5% !important;
    }

    .title-banner {
      line-height: 28px !important;
      font-size: $font-26 !important;
    }

    .des-banner {
      font-size: $font-14 !important;
    }

    .dot-banner {
      margin-bottom: -2px !important;
    }

    .carousel-indicators .active {
      width: 50px !important;
    }

    .img-slider-banner {
      height: 300px;
    }

    //section 2
    .section-2 {
      padding-top: 60px;

      .h-340 {
        height: 500px !important;

      }

      .text-font-size-36 {
        font-size: $font-22 !important;
      }

      .text-font-size-18 {
        font-size: $font-14 !important;
      }

      .item-achievement-1 {
        top: 0;
        left: 50%;
        transform: translate(-50%, 0%) !important;
      }

      .item-achievement-2 {
        top: 17%;
        left: -17%;
      }

      .item-achievement-3 {
        left: auto;
        right: -17%;
        bottom: 50%;
      }

      .item-achievement-4 {
        top: 35%;
        left: 50%;
        transform: translate(-50%, 0%) !important;
      }

      .item-achievement-5 {
        top: 52%;
        right: -17%;
      }

      .item-achievement-6 {
        right: auto;
        bottom: 16%;
        left: -16%;
      }

      .item-achievement-7 {
        top: 70%;
        left: 50%;
        transform: translate(-50%, 0%) !important;
      }
    }

    //section 3
    .section-3 {
      .text-font-size-36 {
        font-size: $font-22 !important;
      }

      .text-font-size-18 {
        font-size: $font-14 !important;
      }

      .text-font-size-28 {
        font-size: $font-20 !important;
      }

      .text-font-size-20 {
        font-size: $font-16 !important;
      }
    }

    //section 4
    .section-4 {
      .text-font-size-36 {
        font-size: $font-20 !important;
      }

      .text-font-size-18 {
        font-size: $font-14 !important;
      }

      .text-font-size-28 {
        font-size: $font-20 !important;
      }

      .text-font-size-20 {
        font-size: $font-16 !important;
      }

      .div-arrow,
      .div-arrow2,
      .div-arrow3 {
        display: none !important;
      }
    }

    //section 5
    .section-5 {
      .text-font-size-36 {
        font-size: $font-20 !important;
      }

      .text-font-size-18 {
        font-size: $font-14 !important;
      }

      .text-font-size-28 {
        font-size: $font-20 !important;
      }

      .text-font-size-20 {
        font-size: $font-16 !important;
      }
    }

    //section 6
    .section-6 {
      .text-font-size-36 {
        font-size: $font-20 !important;
      }

      .text-font-size-18 {
        font-size: $font-14 !important;
      }

      .text-font-size-28 {
        font-size: $font-20 !important;
      }

      .text-font-size-20 {
        font-size: $font-16 !important;
      }

      .wizard .nav-tabs>li a i {
        font-size: $font-18 !important;
        top: 45px !important;
      }
    }

    //section 7
    .section-7 {
      padding-top: 50px !important;

      .text-font-size-36 {
        font-size: $font-20 !important;
      }

      .text-font-size-18 {
        font-size: $font-14 !important;
      }

      .text-font-size-28 {
        font-size: $font-20 !important;
      }

      .text-font-size-20 {
        font-size: $font-16 !important;
      }

      .text-font-size-26 {
        font-size: $font-14 !important;
      }
    }

    //section 8
    .section-8 {
      padding-top: 50px !important;

      .text-font-size-36 {
        font-size: $font-20 !important;
      }

      .text-font-size-18 {
        font-size: $font-14 !important;
      }

      .text-font-size-28 {
        font-size: $font-20 !important;
      }

      .text-font-size-20 {
        font-size: $font-16 !important;
      }

      .text-font-size-26 {
        font-size: $font-14 !important;
      }
    }
  }

  .about-us {
    .text-font-size-18 {
      font-size: $font-16;
    }

    .about-item-1 {
      margin-top: 0;
    }

    .about-item-2 {
      margin-bottom: 30px;
    }

    .div-left-about {
      padding-left: 0;
      margin-top: 50px;
    }

    .div-right-about {
      padding-right: 0;
      margin-bottom: 50px;
    }

    .about-trip {
      display: none;
    }

    .about-team {
      .text-font-size-36 {
        font-size: $font-24;
      }
    }

    .about-register-content {
      padding: 46px 20px 35px 20px;
    }

    .about-team .card-img {
      height: auto !important;
    }

    .about-register-content-2 .div-img {
      position: relative;

      img {
        width: 100%;
        height: auto;
      }

    }

    .about-register-content-1 {
      padding: 20px;
    }
  }

  .product-native {
    .text-font-size-36 {
      font-size: $font-22;
    }

    .text-font-size-45 {
      font-size: $font-32;
    }

    .text-font-size-20 {
      font-size: $font-18;
    }

    .line-height-44 {
      line-height: 30px;
    }

    .native-banner {
      padding-top: 60px;
    }

    .img-register {
      padding: 20px;
      position: relative !important;

      img {
        width: 100%;
        height: auto;
      }
    }

    .title-register-top {
      white-space: normal;
    }

    .img-card-slide {
      width: 100%;
      height: auto;
    }

    .img-card-slide-cayman {
      width: 100%;
      height: auto;
    }

    .carousel-control-prev,
    .carousel-control-next {
      display: none;
    }

    .div-form-register {
      padding: 20px;
    }

    .list-item-result {
      padding-left: 10px;

      li {
        line-height: 35px;
      }
    }

    .btn-register {
      font-size: 15px;
    }

    .native-result {
      img {
        margin-top: 40px;
      }
    }

    .native-commit {
      margin: 100px 0;

      .title-commit {
        margin-bottom: 30px;

        p {
          padding: 0 5%;
        }
      }
    }

    .native-teams {
      .title-native-teams p {
        padding: 0 5%;
      }
    }

    .native-verify {
      .item-verify {
        padding-left: 0;
        padding-right: 0;
      }

      .video-verify {
        top: 19px;
        left: 11px;
        max-width: 318px;
        max-height: 235px;
      }
    }

    .div-chicken {
      margin-top: 0 !important;
    }

    .content-chicken-description {
      padding-right: 0 !important;
    }

    .about-register-content {
      padding: 48px 20px 35px 20px;
    }

    .about-register-content-1 {
      position: relative;
      padding-left: 0;
      padding-top: 0;
    }

    .about-register-content-2 {
      padding: 10px;
    }
  }

  .product-ai {
    .btn-register {
      font-size: 15px;
    }

    .text-font-size-50 {
      font-size: $font-32;
    }

    .text-font-size-25 {
      font-size: $font-20;
    }

    .text-font-size-20 {
      font-size: $font-18;
    }

    .text-font-size-36 {
      font-size: $font-28;
    }

    .ai-banner {
      height: 568px;

      .content-banner-ai {
        transform: translate(5%, 45%);
      }
    }

    .about-register-content {
      padding: 20px 20px
    }

    .item-img-right {
      padding-right: 0;
    }

    .item-txt-right {
      padding-left: 0;
    }

    .item-txt-left {
      padding-right: 0;
    }

    .item-img-left {
      padding-left: 0;
    }

    .ai-ispeak {
      .video-ispeak {
        padding-right: 15px;
      }

      .pr-5 {
        padding-right: 15px !important;
      }

      .pl-5 {
        padding-left: 15px !important;
      }

      .text-font-size-36 {
        font-size: $font-20;
      }

      .list-item-result {
        padding-left: 20px;
        margin-top: 28px;

        .text-font-size-20 {
          font-size: $font-16;
        }

        .dot {
          display: none;
        }

        li {
          list-style-type: disc;
        }
      }
    }

    .ai-verify {
      .pl-0 {
        padding-left: 15px !important;
      }

      .pr-0 {
        padding-right: 15px !important;
      }
    }

    .ai-study-online {
      .text-font-size-36 {
        font-size: $font-24;
      }

      .text-font-size-18 {
        font-size: $font-13;
      }
    }

    .item-verify {
      padding-left: 0;
      padding-right: 0;
    }

    .video-verify {
      top: 19px !important;
      left: 11px !important;
      max-width: 318px !important;
      max-height: 235px !important;
    }

    .div-chicken {
      margin-top: 0 !important;
    }

    .content-chicken-txt {
      padding-top: 40px;
    }
  }

  .product-ielts {
    .btn-register {
      font-size: 15px;
    }

    .text-font-size-50 {
      font-size: $font-25;
    }

    .text-font-size-25 {
      font-size: $font-20;
    }

    .text-font-size-20 {
      font-size: $font-18;
    }

    .text-font-size-36 {
      font-size: $font-28;
    }

    .ielts-banner {
      height: 418px;

      .content-banner-ai {
        transform: translate(5%, 80%);

        .title-banner {
          line-height: 40px;
        }

        .des-banner {
          padding-right: 10px;
          font-size: $font-16;
        }
      }
    }

    .ielts-register {
      .img-register {
        position: relative;
        padding: 20px;
      }

      .div-form-register {
        padding: 20px;
      }

      .title-register {
        white-space: normal !important;
      }
    }

    .ielts-teacher {
      .avt-teacher {
        padding-left: 0 !important;
      }

      .list-item-result {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 10px;
        padding-left: 26px;

        li {
          line-height: 34px;
        }
      }
    }

    .ielts-procedure {
      .des-ielts-procedure {
        padding-right: 0 !important;
        text-align: justify;
      }

      .item-procedure img {
        width: 118px;
        height: 135px;
      }

    }

    .ielts-trip {
      .content-trip {
        display: none;
      }
    }

    .ielts-banner-mid {
      .img-content-mid img {
        position: relative;
      }

      .list-item-result {
        padding-left: 20px;

        li {
          line-height: 34px;
        }
      }
    }

    .ielts-achievements {
      .carousel-item img {
        display: block;
        margin: 0 auto;
      }
    }

    .ielts-award {
      padding-bottom: 50px;

      .text-font-size-36 {
        font-size: $font-26;
      }

      .wizard .nav-tabs>li.active>a i {
        font-size: $font-20;
      }

      .wizard .nav-tabs>li>a i {
        font-size: $font-20;
      }
    }

    .ielts-verify {
      padding-bottom: 30px;

      .item-verify {
        padding-left: 0;
        padding-right: 0;
      }

      .video-verify {
        top: 19px;
        left: 11px;
        max-width: 318px;
        max-height: 235px;
      }

      .content-chicken-txt {
        .text-font-size-36 {
          font-size: $font-26;
        }

        .content-chicken-description {
          padding-right: 0 !important;
        }
      }
    }
  }

  .product-pro {
    .btn-register {
      font-size: 15px;
    }

    .text-font-size-50 {
      font-size: $font-32;
    }

    .text-font-size-25 {
      font-size: $font-20;
    }

    .text-font-size-20 {
      font-size: $font-18;
    }

    .text-font-size-36 {
      font-size: $font-26;
    }

    .line-height-44 {
      line-height: 35px;
    }

    .title-banner {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }

    .img-banner {
      padding-top: 0;

      img {
        width: 100%;
        height: auto !important;
      }
    }

    .img-register {
      padding-left: 10px !important;
      padding-right: 10px !important;

      img {
        position: relative !important;
      }
    }

    .div-form-register {
      padding-right: 20px !important;
      padding-left: 20px !important;
    }

    .pro-question {
      display: none;
    }

    .img-about {
      img {
        position: relative !important;
      }
    }

    .pro-class .list-item-result {
      padding-left: 20px;
    }

    .pro-procedure {
      ul#pills-tab {
        flex-direction: row;
        gap: 24px;
        justify-content: center !important;
      }
    }

    .wizard .nav-tabs>li a i {
      font-size: $font-20;
    }

    .pro-verify {
      .item-verify {
        margin-top: 20px;
      }

      .text-font-size-26 {
        font-size: $font-16;
      }
    }

    .text-font-size-48 {
      font-size: 40px;
    }

    .content-chicken-description {
      padding-right: 0 !important;
    }

    .pro-teacher .img-card-slide {
      width: 100%;
      height: auto;
    }
  }

  .product-extra {
    .extra-header-banner .img-banner img {
      height: auto;
    }

    .extra-tab-content .math-reason .img-reason {
      height: auto;
      position: relative;
      padding-top: 30px;
    }

    .extra-tab-content .math-reason .content-reason {
      padding: 20px;
    }

    .img-rme {
      text-align: center;
      margin-bottom: 30px;
    }

    .img-family {
      text-align: center;
    }

    .extra-tab-content .math-slide-teacher .img-card-slide,
    .extra-tab-content .math-slide-teacher .img-card-slide-cayman {
      height: auto;
    }

    .btn-register {
      font-size: 15px;
    }

    .text-font-size-50 {
      font-size: $font-32;
    }

    .text-font-size-25 {
      font-size: $font-20;
    }

    .text-font-size-20 {
      font-size: $font-18;
    }

    .text-font-size-36 {
      font-size: $font-26;
    }

    .line-height-44 {
      line-height: 35px;
    }

    .img-banner {
      padding-top: 0;
    }

    .img-register {
      padding-left: 10px !important;
      padding-right: 10px !important;

      img {
        position: relative !important;
      }
    }

    .div-form-register {
      padding-right: 20px !important;
      padding-left: 20px !important;
    }

    .math-study-title {
      .text-font-size-36 {
        font-size: 31px;
      }
    }

    .math-reason {
      .content-reason {
        padding-bottom: 30px;
      }
    }

    .math-slide-teacher,
    .math-post {
      .text-font-size-36 {
        font-size: $font-20;
      }
    }

    .content-chicken-txt {
      padding: 20px !important;

      .line-height-44 {
        line-height: 40px;
      }
    }

    .img-register {
      padding-top: 20px;
    }

    .wizard .nav-tabs>li a i {
      font-size: $font-20;
    }

    .math-verify {
      .title-verify {
        .text-font-size-36 {
          font-size: $font-20 !important;
        }
      }

      .item-verify {
        margin-top: 20px;
      }

      .text-font-size-26 {
        font-size: $font-16 !important;
      }
    }

    .carousel-control-next {
      display: none !important;
    }

    .carousel-control-prev {
      display: none !important;
    }

    img[alt='vietnamese-banner'] {
      margin-top: 20px;
    }

    img[alt='extra-vietnamese-ads'] {
      margin-top: 40px;
    }

    .extra-tab-content .vietnamese-middle-banner .banner .form-register {
      padding-right: 15px !important;
      text-align: center;
      padding-bottom: 20px;
    }

    .pro-verify .item-verify {
      margin-bottom: 20px;
    }

    .extra-tab-content .learning-pack-banner .banner {
      padding-bottom: 20px;
    }

    .extra-tab-content {
      .learning-pack-content {
        .txt-learning-pack {
          padding-left: 15px;

          &-2,
          &-3,
          &-4,
          &-5 {
            padding-left: 15px;

          }
        }

        .middle-img .div-img-middle {
          width: 100%;
        }

        .middle-banner .form-register {
          padding: 20px !important;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .logo-header {
    width: 40% !important;
  }

  .tag-logo {
    right: -20px !important;
  }

  .home {
    .section-2 {
      .item-achievement-2 {
        width: 140px;
        top: 14%;
      }

      .item-achievement-3 {
        left: auto;
        right: -16%;
        bottom: 61%;
        width: 140px;
      }

      .item-achievement-4 {
        top: 28%;
      }

      .item-achievement-6 {
        bottom: 34%;
        width: 140px;
      }

      .item-achievement-5 {
        width: 140px;
        top: 41%;
      }

      .item-achievement-7 {
        top: 55%;
      }

      .text-font-size-16 {
        font-size: $font-14 !important;
      }

      .text-font-size-55 {
        font-size: 40px;
      }

      .text-font-size-60 {
        font-size: 45px;
      }

      .line-height-55 {
        line-height: 40px;
      }
    }
  }
}